name: tfsec-pr-commenter
on:
  pull_request:

permissions: read-all

jobs:
  tfsec:
    name: tfsec PR commenter
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Clone repo
        uses: actions/checkout@master
      - name: tfsec
        uses: aquasecurity/tfsec-pr-commenter-action@v1.3.1
        with:
          github_token: ${{ github.token }}
