name: tfsec-pr-commenter
on:
  pull_request:

permissions:
  contents: read
  pull-requests: write


jobs:
  tfsec:
    name: tfsec PR commenter
    runs-on: ubuntu-latest
    
    steps:
      - name: Clone repo
        uses: actions/checkout@master
      - name: tfsec
        uses: aquasecurity/tfsec-pr-commenter-action@v1.3.1
        with:
          github_token: ${{ github.token }}
